
body{
/*
	background-color: #212121 !important;
	color: #878d8d; 
	*/
} 

.btn-wrapper-primary button{
	margin-bottom: 5px;
}
.btn-wrapper-sharp button{
	margin-bottom: 5px;
}
.btn-wrapper-rounded button{
	margin-bottom: 5px;
}
._navbar_main{
	box-shadow: none !important;
}
._toggle_btn_top{
	display: block !important;
}
._wrapper{
	margin-top: 56px;
}
._side_menu_li{
/*	background-color: #393836;*/
}
._side_bar{
		border-right: 2px solid #eeeeee;
		margin-right: 2px;
}
._side_menu{
	background-color: #ffffff;

	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	margin-top: 56px;
	width: 200px;
	transition:all ease 0.25s; 
	transform:translateX(-100%);
	z-index: 2000;
}
.active ._side_menu{
	transform: translateX(-100px);
}
.main_section{
	width: 100%;
	margin-left: 0px;
	transition: all ease 0.25s;
}
._side_bar .nav-link{
	padding-left: 10px;
}


@media (max-width: 992px){
	.active ._side_menu{
		transform: translateX(1px) !important;
	}
}
@media (min-width: 992px){
	._side_menu{
		transform: translateX(0);
	}
	.main_section{
		margin-left: 200px;
	}
   .active > ._side_menu{

		width: 80px;
	}

	.active ._side_bar{
		margin-left: 0;
	}

	.active .nav-link{

		text-align: center;
	}

	.active .icon{
		margin-right: 0;
	}
	.active ._text{
		display: none;
	}
	.active > .main_section{
		margin-left: 80px;
	}
}

.nav-link{
	display: block;
	white-space: nowrap;
}
.nav-link > i{
	margin-right: 10px;
	font-size: 20px;
	vertical-align: middle;
	height: 25x;
	width: 25px;
	//border: 2px solid red;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.dd_icon{
	position: absolute; right: 0; margin-right: 10px;
}
/*

.nav-link:hover{
	background-color: #212121 !important;

}*/

.t-grid-1,
.t-grid-2,
.t-grid-3,
.t-grid-4,
.t-grid-5,
.t-grid-6,
.t-grid-7,
.t-grid-8,
.t-grid-9,
.t-grid-10,
.t-grid-11,
.t-grid-12{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
